<a href="https://colab.research.google.com/github/drshahizan/Python_Tutorial/blob/main/big%20data/3%20Dask/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science with Python and Dask
## Chapter 4: Loading Data Into DataFrames

### Section 4.1

In [ ]:
import numpy as np
import pandas as pd
import time

In [ ]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

%cd /content/drive/My Drive/Colab Notebooks/dataset/nyc

Mounted at /content/drive
/content/drive/My Drive/Colab Notebooks/dataset

In [ ]:
# Listing 4.1
import dask.dataframe as dd
from dask.diagnostics import ProgressBar

fy14 = dd.read_csv('Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014.csv')
fy15 = dd.read_csv('Parking_Violations_Issued_-_Fiscal_Year_2015.csv')
fy16 = dd.read_csv('Parking_Violations_Issued_-_Fiscal_Year_2016.csv')
fy17 = dd.read_csv('Parking_Violations_Issued_-_Fiscal_Year_2017.csv')
fy17

Dask DataFrame Structure:
              Unnamed: 0 Summons.Number Plate.ID Registration.State Plate.Type Issue.Date Violation.Code Vehicle.Body.Type Vehicle.Make Issuing.Agency Street.Code1 Street.Code2 Street.Code3 Vehicle.Expiration.Date Violation.Location Violation.Precinct Issuer.Precinct Issuer.Code Issuer.Command Issuer.Squad Violation.Time Time.First.Observed Violation.County Violation.In.Front.Of.Or.Opposite House.Number Street.Name Intersecting.Street Date.First.Observed Law.Section Sub.Division Violation.Legal.Code Days.Parking.In.Effect From.Hours.In.Effect To.Hours.In.Effect Vehicle.Color Unregistered.Vehicle. Vehicle.Year Meter.Number Feet.From.Curb Violation.Post.Code Violation.Description No.Standing.or.Stopping.Violation Hydrant.Violation Double.Parking.Violation
npartitions=1
                   int64          int64   object             object     object     object          int64            object       object         object        int64        int64        int64                   int64            float64              int64           int64       int64         object       object         object              object           object                            object       object      object              object               int64       int64       object               object                 object               object             object        object               float64        int64       object          int64              object                object                           float64           float64                  float64
                     ...            ...      ...                ...        ...        ...            ...               ...          ...            ...          ...          ...          ...                     ...                ...                ...             ...         ...            ...          ...            ...                 ...              ...                               ...          ...         ...                 ...                 ...         ...          ...                  ...                    ...                  ...                ...           ...                   ...          ...          ...            ...                 ...                   ...                               ...               ...                      ...
Dask Name: read-csv, 1 tasks

In [ ]:
# Listing 4.2

fy17 = pd.read_csv("Parking_Violations_Issued_-_Fiscal_Year_2017.csv")
fy17.columns

Index(['Unnamed: 0', 'Summons.Number', 'Plate.ID', 'Registration.State',
       'Plate.Type', 'Issue.Date', 'Violation.Code', 'Vehicle.Body.Type',
       'Vehicle.Make', 'Issuing.Agency', 'Street.Code1', 'Street.Code2',
       'Street.Code3', 'Vehicle.Expiration.Date', 'Violation.Location',
       'Violation.Precinct', 'Issuer.Precinct', 'Issuer.Code',
       'Issuer.Command', 'Issuer.Squad', 'Violation.Time',
       'Time.First.Observed', 'Violation.County',
       'Violation.In.Front.Of.Or.Opposite', 'House.Number', 'Street.Name',
       'Intersecting.Street', 'Date.First.Observed', 'Law.Section',
       'Sub.Division', 'Violation.Legal.Code', 'Days.Parking.In.Effect',
       'From.Hours.In.Effect', 'To.Hours.In.Effect', 'Vehicle.Color',
       'Unregistered.Vehicle.', 'Vehicle.Year', 'Meter.Number',
       'Feet.From.Curb', 'Violation.Post.Code', 'Violation.Description',
       'No.Standing.or.Stopping.Violation', 'Hydrant.Violation',
       'Double.Parking.Violation'],
      dtype='object')

In [ ]:
# Listing 4.3
# Import for Python 3.x
from functools import reduce

columns = [set(fy14.columns),
    set(fy15.columns),
    set(fy16.columns),
    set(fy17.columns)]
common_columns = list(reduce(lambda a, i: a.intersection(i), columns))
common_columns

['Street.Code2',
 'Street.Code3',
 'Issue.Date',
 'House.Number',
 'Feet.From.Curb',
 'Vehicle.Color',
 'Plate.Type',
 'Vehicle.Make',
 'Violation.Legal.Code',
 'Street.Name',
 'Meter.Number',
 'Violation.Location',
 'Hydrant.Violation',
 'Vehicle.Year',
 'From.Hours.In.Effect',
 'Time.First.Observed',
 'Violation.Post.Code',
 'Summons.Number',
 'Sub.Division',
 'Issuer.Precinct',
 'Vehicle.Expiration.Date',
 'Vehicle.Body.Type',
 'Issuer.Code',
 'Issuer.Command',
 'Violation.County',
 'Unregistered.Vehicle.',
 'Issuer.Squad',
 'Plate.ID',
 'Double.Parking.Violation',
 'Days.Parking.In.Effect',
 'Street.Code1',
 'Unnamed: 0',
 'Violation.Time',
 'Intersecting.Street',
 'Date.First.Observed',
 'Violation.In.Front.Of.Or.Opposite',
 'To.Hours.In.Effect',
 'No.Standing.or.Stopping.Violation',
 'Issuing.Agency',
 'Law.Section',
 'Registration.State',
 'Violation.Precinct',
 'Violation.Description',
 'Violation.Code']

In [ ]:
# Listing 4.4
fy17[common_columns].head()

,Street.Code2,Street.Code3,Issue.Date,House.Number,Feet.From.Curb,Vehicle.Color,Plate.Type,Vehicle.Make,Violation.Legal.Code,Street.Name,...,Date.First.Observed,Violation.In.Front.Of.Or.Opposite,To.Hours.In.Effect,No.Standing.or.Stopping.Violation,Issuing.Agency,Law.Section,Registration.State,Violation.Precinct,Violation.Description,Violation.Code
0,17810,17830,06/14/2017,301,0,WHITE,PAS,FRUEH,NaN,Madison Ave,...,0,F,NaN,NaN,T,408,NJ,14,14-No Standing,14
1,0,0,02/13/2017,NaN,0,BK,PAS,DODGE,T,NB SPRINGFELD BV. ME,...,0,NaN,NaN,NaN,V,1180,NY,0,PHTO SCHOOL ZN SPEED VIOLATION,36
2,0,0,08/07/2016,N,8,BLACK,PAS,KIA,NaN,E 73rd St,...,0,I,NaN,NaN,T,408,PA,19,40-Fire Hydrant,40
3,85330,83330,05/04/2017,824,0,BL,PAS,HONDA,NaN,Park Ave,...,0,O,1230A,NaN,T,408,NY,90,21-No Parking (street clean),21
4,0,0,06/29/2016,E,0,GY,PAS,HONDA,NaN,E 13th St,...,0,I,0700P,NaN,T,408,NY,70,37-Expired Muni Meter,37

In [ ]:
# Listing 4.5
# Note: This is supposed to produce an error - scroll down and inspect the ValueError
fy16[common_columns].head()

,Street.Code2,Street.Code3,Issue.Date,House.Number,Feet.From.Curb,Vehicle.Color,Plate.Type,Vehicle.Make,Violation.Legal.Code,Street.Name,...,Date.First.Observed,Violation.In.Front.Of.Or.Opposite,To.Hours.In.Effect,No.Standing.or.Stopping.Violation,Issuing.Agency,Law.Section,Registration.State,Violation.Precinct,Violation.Description,Violation.Code
0,10030,10080,07/30/2015,7002,0,BLUE,PAS,NISSA,NaN,13th Ave,...,0,F,1000A,NaN,T,408,CT,68,16A-No Std (Com Veh) Non-COM,16
1,14510,15710,06/14/2016,30,0,BL,SRF,PORSC,NaN,W 67th St,...,0,F,NaN,NaN,T,408,NY,20,70A-Reg. Sticker Expired (NYS),70
2,21740,15210,08/15/2015,412,0,OTHER,PAS,NS/OT,NaN,6th Ave,...,0,F,NaN,NaN,T,408,PA,6,84-Platform lifts in low posit,84
3,0,0,10/23/2015,NaN,0,BK,OMT,TOYOT,T,EB HORACE HARDING EX,...,0,NaN,NaN,NaN,V,1180,NY,0,PHTO SCHOOL ZN SPEED VIOLATION,36
4,13310,33890,02/20/2016,230,0,BLACK,PAS,INFIN,NaN,Thompson St,...,0,O,NaN,NaN,T,408,CT,6,20A-No Parking (Non-COM),20

### Section 4.1.2

In [ ]:
# Listing 4.6
import numpy as np
import pandas as pd

dtype_tuples = [(x, np.str) for x in common_columns]
dtypes = dict(dtype_tuples)
dtypes

<ipython-input-10-bd494df5de49>:5: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype_tuples = [(x, np.str) for x in common_columns]

{'Street.Code2': str,
 'Street.Code3': str,
 'Issue.Date': str,
 'House.Number': str,
 'Feet.From.Curb': str,
 'Vehicle.Color': str,
 'Plate.Type': str,
 'Vehicle.Make': str,
 'Violation.Legal.Code': str,
 'Street.Name': str,
 'Meter.Number': str,
 'Violation.Location': str,
 'Hydrant.Violation': str,
 'Vehicle.Year': str,
 'From.Hours.In.Effect': str,
 'Time.First.Observed': str,
 'Violation.Post.Code': str,
 'Summons.Number': str,
 'Sub.Division': str,
 'Issuer.Precinct': str,
 'Vehicle.Expiration.Date': str,
 'Vehicle.Body.Type': str,
 'Issuer.Code': str,
 'Issuer.Command': str,
 'Violation.County': str,
 'Unregistered.Vehicle.': str,
 'Issuer.Squad': str,
 'Plate.ID': str,
 'Double.Parking.Violation': str,
 'Days.Parking.In.Effect': str,
 'Street.Code1': str,
 'Unnamed: 0': str,
 'Violation.Time': str,
 'Intersecting.Street': str,
 'Date.First.Observed': str,
 'Violation.In.Front.Of.Or.Opposite': str,
 'To.Hours.In.Effect': str,
 'No.Standing.or.Stopping.Violation': str,
 'Issuing.Agency': str,
 'Law.Section': str,
 'Registration.State': str,
 'Violation.Precinct': str,
 'Violation.Description': str,
 'Violation.Code': str}

In [ ]:
# Listing 4.7
fy17 = dd.read_csv('Parking_Violations_Issued_-_Fiscal_Year_2017.csv', dtype=dtypes)


with ProgressBar():
    display(fy17[common_columns].head())

[########################################] | 100% Completed |  0.1s

,Street.Code2,Street.Code3,Issue.Date,House.Number,Feet.From.Curb,Vehicle.Color,Plate.Type,Vehicle.Make,Violation.Legal.Code,Street.Name,...,Date.First.Observed,Violation.In.Front.Of.Or.Opposite,To.Hours.In.Effect,No.Standing.or.Stopping.Violation,Issuing.Agency,Law.Section,Registration.State,Violation.Precinct,Violation.Description,Violation.Code
0,17810,17830,06/14/2017,301,0,WHITE,PAS,FRUEH,NaN,Madison Ave,...,0,F,NaN,NaN,T,408,NJ,14,14-No Standing,14
1,0,0,02/13/2017,NaN,0,BK,PAS,DODGE,T,NB SPRINGFELD BV. ME,...,0,NaN,NaN,NaN,V,1180,NY,0,PHTO SCHOOL ZN SPEED VIOLATION,36
2,0,0,08/07/2016,N,8,BLACK,PAS,KIA,NaN,E 73rd St,...,0,I,NaN,NaN,T,408,PA,19,40-Fire Hydrant,40
3,85330,83330,05/04/2017,824,0,BL,PAS,HONDA,NaN,Park Ave,...,0,O,1230A,NaN,T,408,NY,90,21-No Parking (street clean),21
4,0,0,06/29/2016,E,0,GY,PAS,HONDA,NaN,E 13th St,...,0,I,0700P,NaN,T,408,NY,70,37-Expired Muni Meter,37